body {
  background-color: rgb(240,240,240);
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  font-weight: 800;
  color: #0E63B2;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  color: #666560;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #666560;
  font-weight: 500;
  font-size: 16px;
}

p {
  font-family: 'Open Sans', sans-serif;
  color: #96958E;
  font-size: 15px;
  text-align: justify;
}

a {
  color: rgb(110, 110, 110);
  text-decoration: none;
  opacity: 0.6;
}

a:hover {
  color: #2badff;
}


#sidebar {
  position: fixed;
  width: 10%;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #999897;
}

#page-content {
  width: auto;

}

.bottom-margin-30px {
  margin-bottom: 30px;
}

.btn-blue {
  padding: 10px 20px;
  color: white;
  background-color: #2aa2ed;
  border-radius: 3px;
  font-family: 'Open Sans', sans-serif;
  font-size:15px;
}

.btn-blue:hover {
  background-color: #2badff;
  color: white;
}

.color-white {
  color:white;
}

.text-center {
  text-align: center;
}

.box-white {
  background-color: white;
  width: 50%;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

.list-vertical {
  padding-left: 5%;
  list-style: none;
}

.list-vertical > li {
  text-align: center;
  margin: 0% 10%px;
  font-size: 20px;
  color: white;
  padding: 30% 0%;
}

.list-vertical > i {
  color: white;
}

.list-vertical > i:hover {
  color: #2badff;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  margin: 0 40px;
  font-size: 20px;
}


#social-links {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

#social-links li {
  font-size: 20px;
}

#profile-picture {
  border-radius: 50%;
  width: 100px;
  border: 3px solid #96958E;
}

#places img {
  width: 100px;
}

#places td {
  padding: 5px;
}
